.fact {
  border: 1px solid  grey;
  padding: 20px;
}

form {
  padding: 20px;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px; 
  padding-right: 15px;
  position: fixed;
  bottom: 0;
}

.pagination li {
  display: inline-block;
  padding-left: 5px; 
  padding-right: 5px;
}

.pagination li:hover {
  cursor: pointer;
}