.fact {
  border: 1px solid  grey;
  padding: 20px;
}

form {
  padding: 20px;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}